<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form_style.css') }}">
    <title>Cake order</title>
  <style>
  body{
	background-image: url("https://images3.alphacoders.com/597/597593.jpg");
        background-color: white;
  }
  </style>
  </head>

  <body>

	 <form action="" method="post" class="dark-matter">
	    <h1>Cake Order Form 
		<span>Please fill all the text fields</span>
	    </h1>
	    <label>
		<span>Full name :</span>
		<input id="name" type="text" name="name" placeholder="Your Full Name" />
	    </label>
	    
	    <label>
		<span>Email address :</span>
		<input id="email" type="email" name="email" placeholder="Valid Email Address" />
	    </label>
	    
	    <label>
		<span>Address:</span>
		<textarea id="address" name="address" placeholder="Your Address"></textarea>
	    </label> 
	     <label>
		<span>Payment details :</span><select name="selection">
		<option value="Job Inquiry">Credit Card</option>
		<option value="General Question">PayPal</option>
		</select>
	    </label>    
	     <label>
		<span>&nbsp;</span> 
		<input type="button" class="button" value="Order" /> 
	    </label>    
	</form>
  </body>
</html>
