<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form_style.css') }}">
    <title>Survey</title>

  <style>
  body{
	background-image: url("https://images7.alphacoders.com/688/688381.jpg");
        background-color: white;
	background-size: cover;
  }

  h1{
	font-size: 32px;
	color: #87cefa;
	font-weight: bold;
	font-family: 'Helvetica Neue', sans-serif;
  }

  form{
	margin-top: 80px;
	margin-left: 900px;
  }

  .img-logo {
    float: none;
    left: 0px;
    position: absolute;
  }

  </style>

    <!-- Adding Zopim Live Chat -->
    <script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
    $.src="//v2.zopim.com/?40l495kTPWFGA7JFrUDzK03KARqCPsNL";z.t=+new Date;$.
    type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
    </script>
    <!--End of Zopim Live Chat Script-->

  </head>

  <body>
         <img class="img-logo" src="../static/logo1.png"/>
	 <form action="" method="post" id="survey" class="dark-matter">

	    <h1>Survey
		<span>Please give us feedback</span>
	    </h1>
	    <label>
		<span>Full name :</span>
		<input id="name" type="text" name="name" />
	    </label>
	    
	    <label>
		<span>Email address :</span>
		<input id="email" type="email" name="email"/>
	    </label>
	    
	    <label>
		<span>Message:</span>
		<textarea id="message" name="message"></textarea>
	    </label>   
	     <label>
		<span>&nbsp;</span> 
		<input type="button" style="background-color: #87cefa;" class="button" onclick="submitSurvey()"value="Send" /> 
	    </label>    
	</form>
	
	<script>
	function submitSurvey(){
		document.getElementById("survey").submit();
		window.location.href = '/thanks_survey';
	}
	</script>
	
  </body>
</html>
